*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clear{
  clear: both;
}
body{
font-size: 14px;
font-weight: 600;
width: 100%;
font-family: "Segoe UI", Helvetica, Arial, sans-serif;
overflow-x: hidden;
object-fit: cover;
}
.topbar-content{
  background-color: black;
  width: 100%;
  height: 30px;
  
}
.topbar-content p{
  color: #ffffff;
  text-align: center;
  padding-top: 7px;
}
#header{
  background-color:#e8e8e8 ;
  width: 100%;
  height: 30px;
  padding: 35px 105px ;
  display: flex;
  align-items: center;
  justify-content:space-around;
}
.header-logo{
 
}
.header-search-input{
  background-color: #fff;
  width: 350px;
  height: 40px;
  border: none;
  border-radius: 2px;
  padding: 10px;
  position: relative;
}

i.btn{
  height: 40px;
  background-color: #f0f550;
  color: #fff;
  padding: 14px ;
  border-radius: 4px;
position: absolute;    
}
.header-text{
  padding-left: 20px;
}
.header-bag span{
  padding: 0 5px;
}
.menu{
  background-color: #ffffff;
  width: 100%;
  height: 50px;
  padding: 16px 151px;
  display: inline-flex;
}
.menu li{
  list-style: none;
}
.menu-item{
  margin: 0 15px;
  position: relative;
}
.menu-item:hover .menu-child{
 opacity: 1;
 visibility: visible;
}
.menu-child-list a:hover{
  color: #ff0000;
}
.menu-child{
  position: absolute;
  background-color: #ffffff;
  top: 100%;
  left: 0;
  width: 220%;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s linear; /*độ chuyển động mượt mà*/
}
.menu-child-item{
}
.menu-child-list{
  padding: 15px;
}
.menu-child-list li{
  font-size: 11px;
  padding: 10px 0;

}
.menu-child-list a{
  text-decoration: none;
   color: #000;
   font-size: 14px;
}

.menu-link{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #000;
}

.menu-link:hover{
  color: #ff0000;
  
}
.slider{
width: 100%;
}
.slider-img{
cursor:grab;
width: 100%;
}
.banner{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
}
.banner-img{
  min-width: 100px;
  margin: 0 5px;
}
.members-list{
margin:0 40px;
overflow: hidden;
margin-top: 5px;
}
.member-item{
float: left;
margin: 0 2px;
position: relative;
overflow: hidden;
  }
.member-img{
  width: 100%;
  cursor: pointer;
  transition: transform  1.1s;
      
}
/* hiệu ứng zoom */
.member-img:hover{
  transform: scale(1.5);
  width: 100%;
}
.member-content{
  position: absolute;
  background-color: darkgray;
}
.member-text{
  position: absolute;
  font-size: 18px;
  top: 245px;
  left: 1px;
  color:#fff  ;
  background-color:#000;
  opacity: 0.5;
  width: 608px;
  height: 78px;
  padding-left: 10px;
}
.member-button{
position: absolute;
  top: 280px;
  left:14px;
  color: #000;
  padding: 5px 10px;   
}
.member-button:hover{
  opacity: 0.7;
}
.item-content{
  width:100%;
}
.item-content-heading{
  font-size: 40px;
  color: #000;
  text-align: center;
 text-transform: uppercase;
 padding-top: 20px;
}
.item-content-heading:hover{
  color: #ffc359;
  transition: 0.2s linear;
}
.product{
width: 100%;
display: flex;
align-items: center;
justify-content:space-around;
padding: 0 10rem;
}
.product-img{
}
.product-size{
width: 200px;
height: 200px;
}
.product-name{
width: 100%;
display: flex;
align-items: center;
justify-content:space-between;
padding-left: 50px;
padding-right: 50px;
}
.product-name-heading{
font-size: 12px;
}
p .product-text{
  margin: 0 20px;
  font-size: 14px;
 text-transform: uppercase;
}
.product-img-link{
color: #000;
text-decoration: none;
}
.star-color{
  color: yellow;
}
.product-text:hover{
  transition: 0.1s linear;
  color: #ffc359;
}
.game-list{
width: 100%;
margin-top: 50px;
display:flex;
overflow: hidden;
}
.game-item{
position: relative;
overflow: hidden;
}
.game-img{
  width: 100%;
  padding: 0 2px;
  transition: transform 0.5s;
}
.game-img:hover{
  transform: scale(1.5);
  width: 500x;
}
.game-text{
position: absolute;
color: #fff;
font-size: 18px;
top: 305px;
left: 5px;
background-color: black;
opacity: 0.6;
width: 630px;
height: 122px;
}
.game-button{
position: absolute;
top: 370px;
left:5px;
padding: 10px 20px;
border: none;
width: 130px;
height: 40px;
border: none;
background:#fff;
background: linear-gradient(0deg, rgb(243, 241, 241) 0%, rgb(255, 255, 255) 100%);
}
.game-button:hover {
color: #ffffff;
background: transparent;
 box-shadow:none;
}

.top-footer{
  background-color: #f3f3f3;
  width: 100%;
  height: 80px;
margin-top: 10px; 
display: flex;  
align-items: center;
justify-content:center;
}
.email-footer{
padding: 0px 80px;
}
.ti-email{

}
.search-footer{

}
.search-email-footer{
width: 800px;
height: 50px;
position: relative;
padding-left: 15px;
}
.btn-footer{
  background-color: #000;
color: #fff;
padding: 15px;
position: absolute; 
animation: ease 2s;
}
.btn-footer:hover{
  background-color: #f3f3f3;
  color: #000;
 
}
.phone-footer{
  padding-left: 150px;
}
span{
  margin-left: 5px;
}
#footer{
  width: 100%;
  height: 200px;
  padding: 50px;
  display: flex;
align-items: center;
justify-content: space-around;

}
.footer-content{
width: 300px;
}
.footer-heading{
  font-size: 14px;
  
}
.footer-text{
font-size: 14px;
margin-top: 5px;
}
.footer-end{
  background-color: #fff;
  width: 100%;
  height: 50px;
  padding: 15px;
  text-align: center;
}
.footer-end-cl:hover{
  color: #ffc359;
}
.footer-end-cl-text{
  text-decoration: none;
  color: #000;
}
.Footer__studentinformation{
  background-color: #fff;
  text-align: center;

}
.Footer__student{
margin: 0 10px;
font-size: 14px;
color: #000;
}
.Footer__student:hover{
  color: #ffc359;
}
.header__menu-gray{
  background-color: #f5f5f5;
  width: 100%;
  height: 50px;
  padding-left:162px;
  padding-top: 15px;
  }
  .header__menu-text{
  color:#252a2b;
  font-size: 12px;
  font-weight: 400;
  margin: 0 15px;
  }
  .header__menu-text-gray{
    color: #777777;
  } 
  .container{
text-align: center;
  }
  .container__title{
  color: #525252;
font-size: 20px;
}
  .container__social{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 750px;
  margin-top: 50px;
  margin-bottom: 15px;
  }
  .container__facebook{
  background-color: #3b5998;
  border-radius: 2px;
  width: 200px;
  padding: 5px;
  color: #fff;
  }
  .container__goole{
  background-color: #d34836;
  border-radius: 2px;
  width: 200px;
  padding: 5px;
  color: #fff;
  }
  .container__choose{
display: flex;
align-items: center;
justify-content: space-around;
padding: 0 710px;
margin-bottom: 15px;
    }
.container__email{
}
.container__information{
  margin-bottom: 15px;
}
.container__surname{
width: 22%;
height: 50px;
background-color: #ededed;
border: none;
padding-left: 15px;
margin-bottom: 15px;
border-radius: 2px;
}
.container__name{
  width: 22%;
  height: 50px;
  background-color: #ededed;
  border: none;
  padding-left: 15px;
  border-radius: 2px;
}
.container__password{
  width: 22%;
  height: 50px;
  background-color: #ededed;
  border: none;
  padding-left: 15px;
  border-radius: 2px;
}
.container__chon{
display: flex;
align-items: center;
justify-content:flex-start;
margin-left: 750px;
margin-bottom: 15px;
}
.container__girl{

}
.container__boy{
margin-left: 15px;
}
.container__password{
  margin-top: 15px;
}
.container__btn{
  --button_radius: 0.75em;
 --button_color: #e8e8e8;
 --button_outline_color: #000000;
 font-size: 17px;
 font-weight: bold;
 border: none;
 border-radius: var(--button_radius);
display: flex;
}
.container__btn-color{
  margin: auto;
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}
.container__btn:hover .container__btn-color{
  transform: translateY(-0.33em);
}
.container__btn:active .container__btn-color{
  transform: translateY(0);

}
.container__dangky{
  margin-top: 15px;
}
.container__link{
  text-decoration: none;
}
.container__text{
    padding-right: 200px;

}
.container__btn{
display: flex;
align-items: center;
justify-content: center;
}
.header__register{
  text-decoration: none;
  color: #000;
  margin-left: 12px;
}
.container__facebook-link{
  color: #ffffff;
  text-decoration: none;
}
.container__goole-link{
  color: #ffffff;
  text-decoration: none;

}
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
 }
 
 .input {
  width: 300px;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
 }
 
 .input::placeholder {
  color: #9e9ea7;
 }
 
 .input:focus, input:hover {
  outline: none;
  border-color: rgba(234,76,137,0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
 }
 
 .icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
 }
 
 
 
 
 
 